
*{
    font-style: oblique;
    font-size: 20px;
}
body{
    background: linear-gradient(0deg, rgba(171,201,218,0.9472163865546218) 12%, rgba(199,188,215,0.9472163865546218) 28%, rgba(189,195,233,1) 56%, rgba(120,213,204,0.9780287114845938) 83%, rgba(139,145,199,1) 100%);
}
h1{
    color: rgb(209, 79, 19);
    text-align: center;
    background: cyan;
    border-radius: 20px;
    border: 2px dotted darkblue
    
}
.headr{
    border: 6px double rgb(223, 179, 179);
    padding: 50pxpx;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    color: rgb(4, 49, 4);
    background: linear-gradient(90deg, rgba(203,192,192,1) 16%, rgba(176,113,113,1) 39%, rgba(171,77,82,1) 59%, rgba(136,19,58,0.969625350140056) 82%);

}
.frst{
    color: rgb(34, 22, 87);
    border: transparent;
    background-color: white;
    font-weight: bolder;

}

.name{
    color: rgb(75, 8, 8);
    background-color: rgb(200, 240, 200);
}
#title{
    color: cyan;
    background-color: rgb(46, 7, 22);
    border-radius: 60px;
    border: 4px double cyan;
}

h3{
    color: rgb(107, 97, 5);

}
ul{
   color: rgb(102, 9, 45);
}
img{
    height: 50px;
    padding: 20px;
   

}

.para{
    color: darkslateblue;
}

.tag{
    margin-bottom: 50px;
    margin-top: 30px;
    border: 4px dashed rgb(130, 115, 167);
    border-radius: 50px;
    padding: 20px;
}
.div h1{
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6em;
}

.btn{
    background-color: rgb(59, 219, 211);
    padding: 5px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: rgb(11, 59, 33);
    box-shadow: 5px 5px 10px gray;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn:hover{
   cursor: pointer;
   background-color: rgb(129, 243, 218);
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(66, 89, 190));
   color: #fff;
    transform: scaleY(1.2);
    transition: .5s;

}

.gallery{
    display: inline-flex;
    flex-wrap: wrap;
}

img{
    height: 200px;
    width: 250px;
    margin-left: -50px;
}

input{
    border-color: rgb(129, 243, 218);
    border-width: medium;
    margin-top: 10px;
    width: 50vw;
}


.form{
    margin: 10vh 25vw;
}